@use '../utils.scss';

#about {
    height: 100vh
}

.about {
    &-title {
        text-align: center;
        color: map-get($color-palette, "Soft Peach");
        font-family: $primary-font;
        font-size: 75px;
    }

    &-container {
        margin-top: 26%;
        margin-bottom: 12%;
        width: 100%;
    }

    &-photo {
        float: left;
        width: 10%;
        padding-left: 10%;
    }

    &-description {
        margin-left: 35%;
        width: 60%;
        padding-right: 5%;
    }

    &-text {
        text-align: left;
        color: map-get($color-palette, "Soft Peach");
        font-family: $primary-font;
        font-size: 20px;
    }
}

.photo {
    height: 275px;
    width: 275px;
    border-radius: 50%;
}