@import "../utils.scss";

#contact {
    height: 100vh
}

.contact {

    &-container {
        text-align: center;
        z-index: 10;
        position: relative;
    }

    &-title {
        color: map-get($color-palette, "Soft Peach");
        font-family: $primary-font;
        font-size: 75px;
    }

    &-description {
        color: map-get($color-palette, "Soft Peach");
        font-family: $primary-font;
        font-size: 25px;
    }

    &-label {
        color: map-get($color-palette, "Soft Peach");
        font-family: $primary-font;
        size: 20px;
    }

    &-user-data {
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }

    &-message {
        text-align: left;
        max-width: 100%;
    }

    &-send-email-btn {
        margin-top: 40px;
        color: map-get($color-palette, "Black");
        font-family: $primary-font;
        background-color: map-get($color-palette, "Soft Peach");
        text-align: center;
    }

    &-send-email-btn:hover {
        background-color: map-get($color-palette, "Spun Pearl");
    }

    &-email-row {
        direction: flex;
        justify-content: center;
        max-width: 100%;
        padding-top: 20px;
    }

    &-email-section {
        z-index: 10;
    }

    &-empty-col {
        flex: 2;
    }

    &-email-col {
        margin-left: 20px;
        max-width: 50%;
    }
}