@use "../utils.scss";

#projects {
    height: 100vh
}

.projects {
    &-container {
        margin-top: 15%;
        margin-bottom: 5%;
    }

    &-row {
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
    }

    &-title {
        text-align: center;
        color: map-get($color-palette, "Soft Peach");
        font-family: $primary-font;
        font-size: 75px;
    }
}