@import '../utils.scss';

.project {
    &-card {
        height: 100%;
    }

    &-img {
        border-bottom-left-radius: 1.5%;
        border-bottom-right-radius: 1.5%;
        background-color: #313131;
        max-height: 260px;
        max-width: 390px;
        padding-top: 10px;
        object-fit: contain;

        &-coming-soon {
            @include center-contents;
            border-radius: 1.5%;
            height: 260px;
            width: 390px;
            background-color: #313131;
            color: map-get($color-palette, "Soft Peach");
            max-height: 260px;
            max-width: 390px;
        }
    }

    &-title {
        font-family: $primary-font;
        font-size: 35px;
    }

    &-links {
        color: map-get($color-palette, "Black");

        &-section {
            text-align: right;
        }
    }

    &-description {
        font-family: $primary-font;
    }
}

